RewriteEngine On
RewriteBase /v4/
Options +FollowSymLinks

RewriteRule ^(survey)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(?:css|js|map|jpe?g|gif|png|json)$ [NC]
RewriteRule ^(.*)$ index.html [L,QSA]

