/// Color palettes for the app

// Base colors
$client-culture-base: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #eeeeee,
  600: #eeeeee,
  700: #bcbcbc,
  800: #bcbcbc,
  900: #bcbcbc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Primary colors
$client-culture-blue: (
  50: #9be7ff,
  100: #ECEEFE,
  200: #D9DDFE,
  300: #B4BCFE,
  400: #5669FE,
  500: #3D5AFe,
  600: #3D50E4,
  700: #3647CB,
  800: #283598,
  900: #141A4C,
  A100: #E3EFFF,
  A200: #E3EFFF,
  A400: #E3EFFF,
  A700: #E3EFFF,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Accent colors
$client-culture-pink: (
  50 : #fee0eb,
  100 : #fcb3cd,
  200 : #fa80ab,
  300 : #f84d89,
  400 : #f72670,
  500 : #f50057,
  600 : #f4004f,
  700 : #f20046,
  800 : #f0003c,
  900 : #ee002c,
  A100 : #ffffff,
  A200 : #ffe1e5,
  A400 : #ffaeb8,
  A700 : #ff95a2,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

// Warn colors
$client-culture-red: (
  50: #ffa4a2,
  100: #ffa4a2,
  200: #ffa4a2,
  300: #ffa4a2,
  400: #ffa4a2,
  500: #e57373,
  600: #e57373,
  700: #af4448,
  800: #af4448,
  900: #af4448,
  A100: #af4448,
  A200: #af4448,
  A400: #af4448,
  A700: #af4448,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Gray color
$client-culture-gray: (
  50: #f3f3f3,
  100: #e1e1e1,
  200: #cdcdcd,
  300: #b9b9b9,
  400: #aaaaaa,
  500: #9b9b9b,
  600: #939393,
  700: #898989,
  800: #7f7f7f,
  900: #6d6d6d,
  A100: #fdeeee,
  A200: #f8c0c0,
  A400: #ff8686,
  A700: #ff6d6d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

// Black color
$client-culture-black: (
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #4d4d4d,
  400: #262626,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
